basePath: /
definitions:
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Genre:
    properties:
      genre_id:
        type: integer
      genre_name:
        maxLength: 100
        minLength: 2
        type: string
    required:
    - genre_id
    - genre_name
    type: object
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Movie:
    properties:
      admin_review:
        type: string
      genre:
        items:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Genre'
        type: array
      id:
        type: string
      imdb_id:
        type: string
      poster_path:
        type: string
      ranking:
        $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Ranking'
      title:
        maxLength: 500
        minLength: 2
        type: string
      youtube_id:
        type: string
    required:
    - genre
    - imdb_id
    - poster_path
    - ranking
    - title
    - youtube_id
    type: object
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Ranking:
    properties:
      ranking_name:
        type: string
      ranking_value:
        type: integer
    required:
    - ranking_name
    - ranking_value
    type: object
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      expires_at:
        $ref: '#/definitions/go_token.Token'
      favourite_genres:
        items:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Genre'
        type: array
      first_name:
        maxLength: 100
        minLength: 2
        type: string
      id:
        type: string
      last_name:
        maxLength: 100
        minLength: 2
        type: string
      password:
        minLength: 6
        type: string
      refresh_token:
        type: string
      role:
        enum:
        - ADMIN
        - USER
        type: string
      token:
        type: string
      updated_at:
        type: string
      user_id:
        type: string
    required:
    - email
    - first_name
    - last_name
    - password
    - role
    type: object
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.UserLogin:
    properties:
      email:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - password
    type: object
  github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.UserResponse:
    properties:
      email:
        type: string
      favourite_genres:
        items:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Genre'
        type: array
      first_name:
        type: string
      last_name:
        type: string
      refresh_token:
        type: string
      role:
        type: string
      token:
        type: string
      user_id:
        type: string
    type: object
  go_token.Token:
    enum:
    - 0
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    - 7
    - 8
    - 9
    - 10
    - 11
    - 12
    - 13
    - 14
    - 15
    - 16
    - 17
    - 18
    - 19
    - 20
    - 21
    - 22
    - 23
    - 24
    - 25
    - 26
    - 27
    - 28
    - 29
    - 30
    - 31
    - 32
    - 33
    - 34
    - 35
    - 36
    - 37
    - 38
    - 39
    - 40
    - 41
    - 42
    - 43
    - 44
    - 45
    - 46
    - 47
    - 48
    - 49
    - 50
    - 51
    - 52
    - 53
    - 54
    - 55
    - 56
    - 57
    - 58
    - 59
    - 60
    - 61
    - 62
    - 63
    - 64
    - 65
    - 66
    - 67
    - 68
    - 69
    - 70
    - 71
    - 72
    - 73
    - 74
    - 75
    - 76
    - 77
    - 78
    - 79
    - 80
    - 81
    - 82
    - 83
    - 84
    - 85
    - 86
    - 87
    - 88
    - 89
    type: integer
    x-enum-comments:
      ADD: +
      ADD_ASSIGN: +=
      AND: '&'
      AND_ASSIGN: '&='
      AND_NOT: '&^'
      AND_NOT_ASSIGN: '&^='
      ARROW: <-
      ASSIGN: =
      CHAR: '''a'''
      COLON: ':'
      COMMA: ','
      DEC: --
      DEFINE: :=
      ELLIPSIS: '...'
      EQL: ==
      FLOAT: "123.45"
      GEQ: '>='
      GTR: '>'
      IDENT: main
      IMAG: 123.45i
      INC: ++
      INT: "12345"
      LAND: '&&'
      LBRACE: '{'
      LBRACK: '['
      LEQ: <=
      LOR: '||'
      LPAREN: (
      LSS: <
      MUL: '*'
      MUL_ASSIGN: '*='
      NEQ: '!='
      NOT: '!'
      OR: '|'
      OR_ASSIGN: '|='
      PERIOD: .
      QUO: /
      QUO_ASSIGN: /=
      RBRACE: '}'
      RBRACK: ']'
      REM: '%'
      REM_ASSIGN: '%='
      RPAREN: )
      SEMICOLON: ;
      SHL: <<
      SHL_ASSIGN: <<=
      SHR: '>>'
      SHR_ASSIGN: '>>='
      STRING: '"abc"'
      SUB: '-'
      SUB_ASSIGN: -=
      XOR: ^
      XOR_ASSIGN: ^=
    x-enum-descriptions:
    - ""
    - ""
    - ""
    - ""
    - main
    - "12345"
    - "123.45"
    - 123.45i
    - '''a'''
    - '"abc"'
    - ""
    - ""
    - +
    - '-'
    - '*'
    - /
    - '%'
    - '&'
    - '|'
    - ^
    - <<
    - '>>'
    - '&^'
    - +=
    - -=
    - '*='
    - /=
    - '%='
    - '&='
    - '|='
    - ^=
    - <<=
    - '>>='
    - '&^='
    - '&&'
    - '||'
    - <-
    - ++
    - --
    - ==
    - <
    - '>'
    - =
    - '!'
    - '!='
    - <=
    - '>='
    - :=
    - '...'
    - (
    - '['
    - '{'
    - ','
    - .
    - )
    - ']'
    - '}'
    - ;
    - ':'
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    - ""
    x-enum-varnames:
    - ILLEGAL
    - EOF
    - COMMENT
    - literal_beg
    - IDENT
    - INT
    - FLOAT
    - IMAG
    - CHAR
    - STRING
    - literal_end
    - operator_beg
    - ADD
    - SUB
    - MUL
    - QUO
    - REM
    - AND
    - OR
    - XOR
    - SHL
    - SHR
    - AND_NOT
    - ADD_ASSIGN
    - SUB_ASSIGN
    - MUL_ASSIGN
    - QUO_ASSIGN
    - REM_ASSIGN
    - AND_ASSIGN
    - OR_ASSIGN
    - XOR_ASSIGN
    - SHL_ASSIGN
    - SHR_ASSIGN
    - AND_NOT_ASSIGN
    - LAND
    - LOR
    - ARROW
    - INC
    - DEC
    - EQL
    - LSS
    - GTR
    - ASSIGN
    - NOT
    - NEQ
    - LEQ
    - GEQ
    - DEFINE
    - ELLIPSIS
    - LPAREN
    - LBRACK
    - LBRACE
    - COMMA
    - PERIOD
    - RPAREN
    - RBRACK
    - RBRACE
    - SEMICOLON
    - COLON
    - operator_end
    - keyword_beg
    - BREAK
    - CASE
    - CHAN
    - CONST
    - CONTINUE
    - DEFAULT
    - DEFER
    - ELSE
    - FALLTHROUGH
    - FOR
    - FUNC
    - GO
    - GOTO
    - IF
    - IMPORT
    - INTERFACE
    - MAP
    - PACKAGE
    - RANGE
    - RETURN
    - SELECT
    - STRUCT
    - SWITCH
    - TYPE
    - VAR
    - keyword_end
    - additional_beg
    - TILDE
    - additional_end
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the API server for MagicStreamMovies application.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: MagicStreamMovies API
  version: "1.0"
paths:
  /genres:
    get:
      description: Get a list of all unique genres
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Genre'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Get all genres
      tags:
      - movies
  /login:
    post:
      consumes:
      - application/json
      description: Login user and return tokens
      parameters:
      - description: User Login Credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.UserLogin'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.UserResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Login user
      tags:
      - users
  /movie:
    post:
      consumes:
      - application/json
      description: Add a new movie to the database
      parameters:
      - description: Movie Data
        in: body
        name: movie
        required: true
        schema:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Movie'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Add a new movie
      tags:
      - movies
  /movie/{imdb_id}:
    get:
      description: Get details of a specific movie
      parameters:
      - description: IMDB ID
        in: path
        name: imdb_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Movie'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get a movie by ID
      tags:
      - movies
  /movie/{imdb_id}/review:
    patch:
      consumes:
      - application/json
      description: Update the admin review for a movie (requires ADMIN role)
      parameters:
      - description: IMDB ID
        in: path
        name: imdb_id
        required: true
        type: string
      - description: Admin Review JSON {\
        in: body
        name: review
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Update admin review (Admin only)
      tags:
      - movies
  /movies:
    get:
      description: Get a list of all movies
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Movie'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get all movies
      tags:
      - movies
  /recommendedMovies:
    get:
      description: Get recommended movies based on user's favorite genres
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.Movie'
            type: array
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get recommended movies
      tags:
      - movies
  /register:
    post:
      consumes:
      - application/json
      description: Register a new user with the provided details
      parameters:
      - description: User Registration Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/github_com_sirolad_MagicStreamMovies_Server_MagicStreamMovies_Server_internal_models.User'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "409":
          description: Conflict
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Register a new user
      tags:
      - users
  /user/logout:
    post:
      consumes:
      - application/json
      description: Logout user and clear tokens
      parameters:
      - description: User ID JSON {\
        in: body
        name: user
        required: true
        schema:
          additionalProperties:
            type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Logout user
      tags:
      - users
  /user/refresh-token:
    post:
      description: Refresh access and refresh tokens
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Refresh user tokens
      tags:
      - users
securityDefinitions:
  BearerAuth:
    description: Enter your Bearer token (e.g., "eyJhbGci..."). The "Bearer " prefix
      is optional.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
